body{
    background: radial-gradient(circle at center, white, white, #88b1ee 150%); 
}
body{
    font-family: sans-serif;    
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0;  
}
h1{
    margin-bottom: 60px;
    color: rgb(95, 95, 95);
    font-size: 2.3rem;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 20px ;
    background: linear-gradient(To top left,   #6377eb, #98d9ff);
    color: white;
   text-decoration: none;
}
.card:hover{
    border-radius: 80px;
    box-shadow: 3px 7px 18px rgb(235, 235, 235);
}

.card i{
    font-size: 6.0rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 245px;
}
span{
    background: rgb(136, 134, 255);
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    bottom: 160px;
    font-size: 1.3rem;
    
}
span:hover{
    box-shadow: 5px 5px 50px 2px rgb(182, 182, 182);
    cursor: default;
}
