body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(150deg, #ffffff,#a3a9fa);
    height: 100vh;
}
.Formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 20px;
}
.Formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-weight: 500;
}
.Formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #cacacae1;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    transition: .5s;
}
.username span::before{
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    height: 2px;
    background: #59799b;
    transition: .5s;
}
.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #617891;
}
.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}
.recordar{
    margin: -2px 0 25px 5px;
    color: rgb(21, 66, 66);
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
    color: #5b7fa5;
}
input[type="submit"]{
    position: relative;
    width: 80%;
    height: 53px;
    border: 1px solid ;
    background-color: #bbbbbb;
    border-radius: 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    left: 35px;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    transition: .2s;
}
.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.registrarse a{
    color: #5b7fa5;
    text-decoration: none;
}
.registrarse a:hover{
    text-decoration: underline;
}