body{
    background: rgb(252, 252, 252);
}
.navbar {
    background-color: #f8f9fb !important; 
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
}

/*links normales color y eso*/
.navbar-brand{
    cursor: default;
}
.nav-link {
    color: #6c757d;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-link:hover {
    color: #ffffff;
    background:rgba(163, 199, 252, 0.596);
    border-radius: 12px;
    padding: 6px 12px;  

}

/*link activo degradado CUANDO PRESIONAS LOS NAV-LINKS*/
.nav-link.active {
    background: linear-gradient(135deg, rgb(13,110,253), rgb(144, 198, 252));  
    border-radius: 12px;
    color: white !important;
    padding: 6px 12px;
}

/*degradado del logotipo*/
.gradient-text {
    background: linear-gradient(135deg, rgb(13,110,253), rgb(144,198,252));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*ícono del perfil. No sé si dsp la cambio permitiendo al usuario mostrar su propia foto de perfil envés de solo un ícono. Por meintras, es esto*/
.profile-icon {
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    color: #6c757d;
    transition: 0.3s;
}
.profile-icon:hover {
    color: #ffffff;
    transform: scale(1.1);
}

/*CSS DEL OFFCANVAS*/
.offcanvas{
    font-family: "Inter", sans-serif;
}
/*el título que va dentro del offcanvas*/
.offcanvas-title{
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(135deg, rgb(13,110,253), rgb(144,198,252));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/*esto hace que el offcanvas tenga una transición lenta al momento de abrirlo*/
#menuLateral {
transition: 300ms;
width: 300px;
}  
/*esto es para el ícono del offcanvas*/
.list-icon:hover{
    color: #0d6efd;
    transform: scale(1.2);
    transition: 0.2s;
}
/*editar las opciones para que se vean como el navbar*/
.offcanvas-link{
    text-decoration: none;
    color: #6c757d;
    font-weight: 500;
    font-size: 17px;
}
.offcanvas-link:hover{
    color: #0d6efd;
}
/*link activo para cuando presiones salga el cuadrito de color en offcanvas (igual que en el navbar)*/
.offcanvas-link.active {
    background: linear-gradient(135deg, rgb(13,110,253), rgb(144, 198, 252));  
    border-radius: 14px;
    color: white !important;
    padding: 6px 12px;
}
/*ícono de cerrar sesión*/
.offcanvas-footer{
    position: absolute;
    bottom: 40px;
    left: 35px;
}
.logout{
    position: relative;
}
.logout-menu{
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 180px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: .25s;
}
.logout-menu.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.logout-menu a{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 14px 18px;

    color: #444;
    text-decoration: none;
    border-radius: 15px;

    transition: .2s;
}
.logout-menu a:hover{
    background: #f5f7ff;
    color: #4f7df5;
}

/*CSS DE LOS DROPDOWNS*/
.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    border: none;
}
#dropdown-perfil{
    width: 250px;
    height: 160px;
}
#FotoPerfilDrop{
    font-size: 30px;
}
#NombrePerfilDrop{
    font-size: 15px;
}
#dropdown-perfil .btn-close {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
}

/*HEROOOOO*/
Main{
    font-family: "Inter", sans-serif;
    cursor: default;
}
.frase{
    font-size: 30px;
    padding: 10px;
}
#social-link a{
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    color: #ffffff;
    margin: 0 10px 10px 0;
    min-height: 35px;
    width: 45px;
    background: conic-gradient(from 0deg at 50% 50%, #ff3b30, #ffd800, #ff007f, #ff3b30);
    border-radius: 12px;
    transition: all .5s ease;
}
#social-link:hover{
    transform: scale(1.05);
}
.frase{
    background: linear-gradient(40deg, rgb(54, 52, 212), rgb(144,198,252));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 600;
}
.btn.btn-primary{
    border-radius: 20px;
    background: linear-gradient(30deg, rgb(41, 39, 206), rgb(93, 136, 255));
    border: none;
}
.btn.btn-primary:hover{
    box-shadow: 0px 1px 20px 3px rgba(190, 190, 221, 0.801);
    transform: scale(1.03);
    transition: 0.3s;
}


/*CSS DEL ANUNCIO*/
 body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.267); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    display: none; 
}
/*LA ANIMATION EN POPUP ES PARTE DEL KEYFRAME. ESO SIRVE PARA QUE EL POP-UP ABRA CON SUAVIDAD (ANIMACIÓN PS)*/
.popup{
    width:380px;
    height: 480px;
    background: #ffffff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    position:relative; 
    animation: aparecer .4s ease;
}
@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.close{
    position: absolute;
    top: -10px;
    right: -3px;
    width: 30px;
    height: 30px;
    padding:10px;
    border-radius:50%;
    border:none;
    background: #e7e7e760;
    color: #383838;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.contenido{
   position: absolute;
    top: -45px;
    left: -50px;
    right: 10px;
    margin: 80px;
    padding-right: 50px;
}
.texto h2{
    color:#333;
    margin-bottom:10px;
    font-weight: 600;
    padding-top: 30px;
    font-size: 28px;
}
.texto p{
    color:#666;
    font-size:20px;
    margin-bottom: 18px;
    line-height: 1.2;
}
.gradient-text{
    background: linear-gradient(135deg, rgb(13,110,253), rgb(144,198,252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.img-popupMed{
    position:absolute;
    right: 338px;
    bottom: 430px;
    z-index:3;
    width: 70px;
}
.img-popupReg{
    position:absolute;
    right: 165px;
    bottom: -10px;
    z-index:3;
    width: 220px;
    transform: rotateZ(7deg);
}
.img-popupCup{
    position:absolute;
    right: -2px;
    bottom: 185px;
    z-index:3;
    width: 190px;
}
.img-popupFes{
    position:absolute;
    right: -22px;
    bottom: -4px;
    z-index:3;
    width: 180px;
    transform: rotateZ(9deg);
}

#notifModal .modal-dialog {
    transform: translateY(-50px);
    transition: transform 0.35s ease, opacity 0.35s ease;
    opacity: 0;
}

#notifModal.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

